@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.container {
  width: 500px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100vw;
  }
}

.inner {
  height: 200px;
  background-color: blanchedalmond;
  border-radius: 12px;
  padding: 25px;
  position: relative;
}
form,
select,
input {
  width: 250px;
  display: block;
  margin: 5px;
}
.outputContainer {
  position: absolute;
  font-size: 14pt;
  text-align: center;
  width: 100%;
  bottom: 15px;
  left: 0;
}
#error {
  color: red;
}
.valid {
  display: none;
}
.invalid {
  display: inline-block;
}
